<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Tarefas</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Lista de Tarefas</h1>
            <form action="{% url 'tarefas:home' %}" method="post"> {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control"
                           placeholder="Descreva sua tarefa" aria-label="Descreva sua tarefa"
                           aria-describedby="button-addon2" name="nome">
                    <button type="submit" class="btn btn-primary" id="button-addon2">Salvar</button>
                </div>
                <small class="form-text text-muted">{{ form.nome.errors }}</small>
            </form>

            <h2 class="mt-5">Tarefas Pendentes</h2>
            {% for tarefa in tarefas_pendentes %}
                <form action="{% url 'tarefas:detalhe' tarefa_id=tarefa.id %}" method="post"> {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Descreva sua tarefa"
                               aria-label="Descreva sua tarefa" required="required"
                               name="nome" value="{{ tarefa.nome }}">
                        <input type="hidden" value="checked" name="feita">
                        <button type="submit" class="btn btn-success" >Marcar como Feita</button>
                    </div>

                </form>
            {% endfor %}

            <h2 class="mt-5">Tarefas Feitas</h2>
            <div class="row">
                {% for tarefa in tarefas_feitas %}
                    <div class="col-10">
                        <form action="{% url 'tarefas:detalhe' tarefa_id=tarefa.id %}" method="post"> {% csrf_token %}
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Descreva sua tarefa"
                                       aria-label="Descreva sua tarefa" required="required"
                                       name="nome" value="{{ tarefa.nome }}">
                                <button type="submit" class="btn btn-warning" >Marcar como Pendente</button>
                            </div>
                        </form>
                    </div>

                    <div class="col-2">
                        <form action="{% url 'tarefas:apagar' tarefa_id=tarefa.id %}" method="post"> {% csrf_token %}
                            <div class="input-group mb-3">
                                <button type="submit" class="btn btn-danger" >Apagar</button>
                            </div>
                        </form>
                    </div>
                {% endfor %}
            </div>


        </div>
    </div>
</div>
</body>
</html>